body {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    font-family: sans-serif;
    text-align: center;
    color: #40514E;
}

h1 {
    color: #66BFBF;
    font-family: Comic Sans MS, sans-serif;
    font-size: 3.6rem;
    width: 25%;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: Consolas, sans-serif;
}

h3 {
    color: #11999E;
    font-size: 1.35rem;
    font-family: Consolas, sans-serif;
}

hr {
    width: 20%;
    border-style: dotted none none;
    border-width: 7px;
    border-color: #c4c4c4;
}

p {
    line-height: 2;
}

/*---------------------------
                Top Container
                            --------------------------*/

.top-container {
    background-color: #E1F8F5;
    padding-top: 9.25rem;
    position: relative;
}

.cloud1 {
    position: absolute;
    top: 4.5rem; right: 15.375rem;
}

.cloud2 {
    position: absolute;
    bottom: 19.75rem; left: 12.5rem;
}

.header-text {
    text-decoration: inherit;
    font-weight: normal;
}

/*------------------------------
                Middle Container
                -------------------------------*/
.profile {
    margin-top: 6rem;
    padding-bottom: 1rem;
}

.profile-image {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
}

.intro {
    width:30%;
    margin: 0 auto 1rem auto;
}

.my-skills {
    margin-top: 6rem;
}

.skill-row {
    width: 50%;
    margin: 6.25rem auto;
    margin-top: 5rem;
}

.skill-row img {
    width: 25%;
}

.computer-image {
    float: left;
    margin-right: 2.875rem;
    margin-top: 25px;
}

.cpp {
    height: 12.2rem;
    width: 12.8rem;
    border-radius: 50%;
    float: right;
    margin-left: 2.875rem;
    margin-top: 25px;
}

.computer-image {
    border-radius: 50%;
}

/*------------------------------
                Bottom Container
                -------------------------------*/

.bottom-container {
    padding: 2.6rem;
    background-color:#66BFBF;
    margin-top: 6rem;
}

.bottom-container p {
    color: #EAF6F6;
}

a:link,
a:visited {
    color: #11999E;
    text-decoration: none;
    transition: 0.3s;
}

a:hover,
a:active {
    color: #fff;
    transition: 0.3s;
}

.twitter-link {
    margin: 0 4rem;
}

.contact-me p {
    margin-bottom: 4rem;
}

.btn:link,
.btn:visited {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 1em 1.5em;
    -webkit-box-shadow: 1px 1px 16px 0 #000000;
    -moz-box-shadow: 1px 1px 16px 0 #000000;
    box-shadow: 1px 1px 16px 0 #000000;
    text-shadow: 1px 1px 16px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover,
.btn:active {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
    text-decoration: none;
}

.copyright {
    margin-top: 2rem;
    font-size: 0.75rem;
}